<div class="wrapper">
  <%= render 'user/header' %>
  <!--header end-->
  <section class="cover-sec">
    <%=image_tag("seeds/background/cover-img.jpg")%>
  </section>
  <main>
    <div class="main-section">
      <div class="container">
        <div class="main-section-data">
          <div class="row">
            <div class="col-lg-3">
              <div class="main-left-sidebar">
                <div class="user_profile">
                  <div class="user-pro-img">
                    <% if @guider.avatar? %>
                      <%=image_tag(@guider.avatar.url, alt: 'Image')%>
                    <% else %>
                      <%=image_tag("guest/guest_man.jpg")%>
                    <% end %>
                  </div>
                  <!--user-pro-img end-->
                  <div class="name-guider">
                    <h3><%= @guider.name %></h3>
                    <button type="button" class="btn btn-light border mt-2">
                      <i class="fas fa-rss text-secondary"></i>
                      Theo dõi
                    </button>
                    <button type="button" class="btn btn-light border mt-2">
                      <i class="fas fa-rss text-secondary"></i>
                      Nhắn tin
                    </button>
                  </div>
                  <ul class="social_links">
                    <li><i class="fas fa-birthday-cake text-secondary"></i> Ngày sinh: <%= @guider.profile.date_of_birth.strftime('%d/%m/%Y') %></li>
                    <li><i class="fas fa-home text-secondary"></i> Quê quán: <%= @guider.profile.hometown %></li>
                    <li><i class="fas fa-map-marker-alt text-secondary"></i> Sống tại: <%= @guider.profile.live_at %></li>
                    <li><i class="fas fa-suitcase text-secondary"></i> Làm việc: <%= @guider.profile.work %></li>
                    <li><i class="fas fa-heart text-secondary"></i> Sở thích: <%= @guider.profile.interests %></li>
                    <li><i class="fas fa-rss text-secondary"></i> 229 người theo dõi</li>
                  </ul>
                </div>
                <!--user_profile end-->
              </div>
              <!--main-left-sidebar end-->
            </div>
            <div class="col-lg-6">
              <div class="main-ws-sec">
                <div class="user-tab-sec rewivew">
                  <div class="tab-feed st2 settingjb tab-guider">
                    <ul>
                      <li data-tab="schedule" class="active">
                        <a href="#" title="">
                          <img src="images/ic4.png" alt="">
                          <span>Lộ trình</span>
                        </a>
                      </li>
                      <li data-tab="feed-dd" >
                        <a href="#" title="">
                          <img src="images/ic1.png" alt="">
                          <span>Blog</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- tab-feed end-->
                </div>
                <!--user-tab-sec end-->
                <div class="product-feed-tab current" id="schedule">
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="mange" role="tabpanel" aria-labelledby="mange-tab">
                      <div class="posts-bar">
                        <%= render 'user/guider/tour', journey: @guider.journeys.first %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-feed-tab " id="feed-dd">
                  <div class="posts-section posts-section-blog">
                    <div class="post-bar">
                      <div class="post_topbar">
                        <div class="usy-dt">
                          <%=image_tag("tmp/avt.png", class: 'ounded-circle guider-avt')%>
                          <div class="usy-name">
                            <h3>Thu Trang</h3>
                            <span><%=image_tag("icon/clock.png")%>3 phút trước</span>
                          </div>
                        </div>
                      </div>
                      <div class="blog-content">
                        <div class="blog-img">
                          <%=image_tag("seeds/tour/sapa1.jpg")%>
                        </div>
                        <p>Sapa không có những khung trời rộng lớn, không có những vùng đất khiến người lữ khách mỏi gối chùng chân. Vẻ đẹp của Sapa được giữ gìn trọn vẹn bằng những bản làng bình yên nằm ở giữa lưng đồi. Những đồng lúa nương xanh ngát, những cánh rừng hoa ban, hoa mận trắng xóa. Có mùi của đất mẹ lẫn vào trong mùi khói bếp thơm nồng. Những điều mang tên giản dị của vùng đất ấy đã khiến tất cả mọi thứ thuộc về Sapa trở nên đẹp đến vô cùng.</p>
                      </div>
                      <div class="job-status-bar">
                        <ul class="like-com">
                          <li>
                            <a href="#"><i class="fas fa-heart"></i> Thích 20</a>
                          </li>
                          <li><a href="#" class="com"><i class="fas fa-comment-alt"></i> Bình luận 15</a></li>
                        </ul>
                        <a href="#"><i class="fas fa-eye"></i>Views 50</a>
                      </div>
                    </div>
                    <!--post-bar end-->
                    <div class="post-bar">
                      <div class="post_topbar">
                        <div class="usy-dt">
                          <%=image_tag("tmp/avt.png", class: 'ounded-circle guider-avt')%>
                          <div class="usy-name">
                            <h3>Thu Trang</h3>
                            <span><%=image_tag("icon/clock.png")%>5 giờ trước</span>
                          </div>
                        </div>
                      </div>
                      <div class="blog-content">
                        <div class="blog-img">
                          <%=image_tag("seeds/tour/sapa2.jpg")%>
                        </div>
                        <p>Sapa không có những khung trời rộng lớn, không có những vùng đất khiến người lữ khách mỏi gối chùng chân. Vẻ đẹp của Sapa được giữ gìn trọn vẹn bằng những bản làng bình yên nằm ở giữa lưng đồi. Những đồng lúa nương xanh ngát, những cánh rừng hoa ban, hoa mận trắng xóa. Có mùi của đất mẹ lẫn vào trong mùi khói bếp thơm nồng. Những điều mang tên giản dị của vùng đất ấy đã khiến tất cả mọi thứ thuộc về Sapa trở nên đẹp đến vô cùng.</p>
                      </div>
                      <div class="job-status-bar">
                        <ul class="like-com">
                          <li>
                            <a href="#"><i class="fas fa-heart"></i> Thích 20</a>
                          </li>
                          <li><a href="#" class="com"><i class="fas fa-comment-alt"></i> Bình luận 15</a></li>
                        </ul>
                        <a href="#"><i class="fas fa-eye"></i>Views 50</a>
                      </div>
                    </div>
                    <!--post-bar end-->
                    <div class="process-comm">
                      <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                      </div>
                    </div>
                    <!--process-comm end-->
                  </div>
                  <!--posts-section end-->
                </div>
                <!--product-feed-tab end-->
              </div>
              <!--main-ws-sec end-->
            </div>
            <div class="col-lg-3">
              <div class="right-sidebar">
                <div class="post-bar">
                  <div style="display: flex; justify-content: space-between;">
                    <div>Ngày xuất phát</div>
                    <input class="datepicker" data-format="dd/MM/yy" style="width: 90px; text-align: center"/>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                    <div style="display: flex;">
                      <h1 style="margin-right: 5px">2</h1>
                      <h2>Người lớn</h2>
                    </div>
                    <div>
                      <button class="btn number-button minus-adult btn-general">
                        <i class="fa fa-minus"></i>
                      </button>
                      <button class="btn number-button minus-adult btn-general">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                    <div>Ngày xuất phát</div>
                  </div>
                </div>
              </div>
              <!--right-sidebar end-->
            </div>
          </div>
        </div>
        <!-- main-section-data end-->
      </div>
    </div>
  </main>
  <footer>
    <div class="footy-sec mn no-margin">
      <div class="container">
      </div>
    </div>
  </footer>
  <!--footer end-->
</div>
<!--theme-layout end-->
