<div class="wrapper">
  <%= render 'user/header' %>
    <!--header end-->
    <section class="cover-sec">
      <%=image_tag("seeds/background/cover-img.jpg")%>
    </section>
    <main>
      <div class="main-section">
        <div class="container">
          <div class="main-section-data">
            <div class="row">
              <div class="col-lg-3">
                <div class="main-left-sidebar">
                  <div class="user_profile">
                    <div class="user-pro-img">
                      <%=image_tag("seeds/avatar/avt.png")%>
                    </div>
                    <!--user-pro-img end-->
                    <div class="name-guider">
                      <h3>Thu Trang</h3>
                      <button type="button" class="btn btn-light border mt-2">
                        <i class="fas fa-rss text-secondary"></i>
                        Theo dõi
                      </button>
                    </div>
                    <ul class="social_links">
                      <li><i class="fas fa-birthday-cake text-secondary"></i> Ngày sinh: 20/04/1999</li>
                      <li><i class="fas fa-home text-secondary"></i> Quê quán: Lào Cai</li>
                      <li><i class="fas fa-map-marker-alt text-secondary"></i> Sống tại: Sapa, Lào Cai</li>
                      <li><i class="fas fa-suitcase text-secondary"></i> Làm việc: Lào Cai</li>
                      <li><i class="fas fa-heart text-secondary"></i> Sở thích: Du lịch, ca hát</li>
                      <li><i class="fas fa-rss text-secondary"></i> 229 người theo dõi</li>
                    </ul>
                  </div>
                  <!--user_profile end-->
                </div>
                <!--main-left-sidebar end-->
              </div>
              <div class="col-lg-6">
                <div class="main-ws-sec">
                  <div class="user-tab-sec rewivew">
                    <div class="tab-feed st2 settingjb tab-guider">
                      <ul>
                        <li data-tab="schedule" class="active">
                          <a href="#" title="">
                            <img src="images/ic4.png" alt="">
                            <span>Lộ trình</span>
                          </a>
                        </li>
                        <li data-tab="feed-dd" >
                          <a href="#" title="">
                            <img src="images/ic1.png" alt="">
                            <span>Blog</span>
                          </a>
                        </li>
                        <li data-tab="info-dd">
                          <a href="#" title="">
                            <img src="images/ic2.png" alt="">
                            <span>Chat</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <!-- tab-feed end-->
                  </div>
                  <!--user-tab-sec end-->
                  <div class="product-feed-tab current" id="schedule">
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="mange" role="tabpanel" aria-labelledby="mange-tab">
                        <div class="posts-bar">
                          <div class="post-bar bgclr">
                            <div class="wordpressdevlp">
                              <a href="">
                                <h2>Lộ trình 1</h2>
                              </a>
                              <p><i class="la la-clock-o"></i>Thời gian 2 ngày 1 đêm</p>
                            </div>
                            <div class="row no-gutters">
                              <div class="col-md-6 col-sm-12">
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star unchecked"></i>
                              </div>
                              <div class="col-md-6 col-sm-12">
                                <ul class="bk-links bklink">
                                  <li>
                                    <p>22 lượt đi</p>
                                  </li>
                                  <li><a href="#" title="" id="review-id">
                                      <p>Nhận xét</p>
                                    </a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="border-top mt-2 review-content" id="review-content">
                              <div class="review-item">
                                <div class="review-schedule">
                                  <div class=" reviewer-avt">
                                    <%=image_tag("tmp/any.jpg")%>
                                  </div>
                                  <div class="reviewer-name">
                                    <p class="font-weight-bold">Nam Vũ</p>
                                    <p>
                                      Lộ trình hợp lý, giá cả phải chăng
                                    </p>
                                    <div>
                                      <i class="fas fa-star checked"></i>
                                      <i class="fas fa-star checked"></i>
                                      <i class="fas fa-star checked"></i>
                                      <i class="fas fa-star checked"></i>
                                      <i class="fas fa-star unchecked"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="review-item">
                                <div class="review-schedule">
                                  <div class=" reviewer-avt">
                                    <%=image_tag("tmp/avt.png")%>
                                  </div>
                                  <div class="reviewer-name">
                                    <p class="font-weight-bold">Ngọc Vân</p>
                                    <p>
                                      Chuyến đi tuyệt vời. Lộ trình và bạn hướng dẫn rất nhiệt tình.
                                    </p>
                                    <div>
                                      <i class="fas fa-star checked"></i>
                                      <i class="fas fa-star checked"></i>
                                      <i class="fas fa-star checked"></i>
                                      <i class="fas fa-star checked"></i>
                                      <i class="fas fa-star checked"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="posts-bar">
                          <div class="post-bar bgclr">
                            <div class="wordpressdevlp">
                              <a href="">
                                <h2>Lộ trình 2</h2>
                              </a>
                              <p><i class="la la-clock-o"></i>Thời gian 1 ngày</p>
                            </div>
                            <div class="row no-gutters">
                              <div class="col-md-6 col-sm-12">
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star unchecked"></i>
                              </div>
                              <div class="col-md-6 col-sm-12">
                                <ul class="bk-links bklink">
                                  <li>
                                    <p>22 lượt đi</p>
                                  </li>
                                  <li><a href="#" title="">
                                      <p>Nhận xét</p>
                                    </a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-feed-tab " id="feed-dd">
                    <div class="posts-section posts-section-blog">
                      <div class="post-bar">
                        <div class="post_topbar">
                          <div class="usy-dt">
                            <%=image_tag("tmp/avt.png", class: 'ounded-circle guider-avt')%>
                            <div class="usy-name">
                              <h3>Thu Trang</h3>
                              <span><%=image_tag("icon/clock.png")%>3 phút trước</span>
                            </div>
                          </div>
                        </div>
                        <div class="blog-content">
                          <div class="blog-img">
                            <%=image_tag("seeds/blog/sapa1.jpg")%>
                          </div>
                          <p>Sapa không có những khung trời rộng lớn, không có những vùng đất khiến người lữ khách mỏi gối chùng chân. Vẻ đẹp của Sapa được giữ gìn trọn vẹn bằng những bản làng bình yên nằm ở giữa lưng đồi. Những đồng lúa nương xanh ngát, những cánh rừng hoa ban, hoa mận trắng xóa. Có mùi của đất mẹ lẫn vào trong mùi khói bếp thơm nồng. Những điều mang tên giản dị của vùng đất ấy đã khiến tất cả mọi thứ thuộc về Sapa trở nên đẹp đến vô cùng.</p>
                        </div>
                        <div class="job-status-bar">
                          <ul class="like-com">
                            <li>
                              <a href="#"><i class="fas fa-heart"></i> Thích 20</a>
                            </li>
                            <li><a href="#" class="com"><i class="fas fa-comment-alt"></i> Bình luận 15</a></li>
                          </ul>
                          <a href="#"><i class="fas fa-eye"></i>Views 50</a>
                        </div>
                      </div>
                      <!--post-bar end-->
                      <div class="post-bar">
                        <div class="post_topbar">
                          <div class="usy-dt">
                            <%=image_tag("tmp/avt.png", class: 'ounded-circle guider-avt')%>
                            <div class="usy-name">
                              <h3>Thu Trang</h3>
                              <span><%=image_tag("icon/clock.png")%>5 giờ trước</span>
                            </div>
                          </div>
                        </div>
                        <div class="blog-content">
                          <div class="blog-img">
                            <%=image_tag("seeds/blog/sapa2.jpg")%>
                          </div>
                          <p>Sapa không có những khung trời rộng lớn, không có những vùng đất khiến người lữ khách mỏi gối chùng chân. Vẻ đẹp của Sapa được giữ gìn trọn vẹn bằng những bản làng bình yên nằm ở giữa lưng đồi. Những đồng lúa nương xanh ngát, những cánh rừng hoa ban, hoa mận trắng xóa. Có mùi của đất mẹ lẫn vào trong mùi khói bếp thơm nồng. Những điều mang tên giản dị của vùng đất ấy đã khiến tất cả mọi thứ thuộc về Sapa trở nên đẹp đến vô cùng.</p>
                        </div>
                        <div class="job-status-bar">
                          <ul class="like-com">
                            <li>
                              <a href="#"><i class="fas fa-heart"></i> Thích 20</a>
                            </li>
                            <li><a href="#" class="com"><i class="fas fa-comment-alt"></i> Bình luận 15</a></li>
                          </ul>
                          <a href="#"><i class="fas fa-eye"></i>Views 50</a>
                        </div>
                      </div>
                      <!--post-bar end-->
                      <div class="process-comm">
                        <div class="spinner">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                        </div>
                      </div>
                      <!--process-comm end-->
                    </div>
                    <!--posts-section end-->
                  </div>
                  <!--product-feed-tab end-->
                  <!-- tab chat -->
                  <div class="product-feed-tab" id="info-dd">
                    <div class="user-profile-ov chat-guider">
                      <div class="main-conversation-box">
                        <div class="message-bar-head-guider">
                          <div class="usr-msg-details">
                            <div class="usr-ms-img mess-guider-img">
                              <%=image_tag("tmp/any.jpg")%>
                            </div>
                            <div class="usr-mg-info guider-mg-info">
                              <h3>Nam Vũ</h3>
                              <p>Đang hoạt động</p>
                            </div>
                            <!--usr-mg-info end-->
                          </div>
                        </div>
                        <!--message-bar-head end-->
                        <div class="messages-guider">
                          <div class="main-message-box st3">
                            <div class="message-dt st3">
                              <div class="message-inner-dt">
                                <p>Chào bạn.<img src="images/smley.png" alt=""></p>
                              </div>
                              <!--message-inner-dt end-->
                              <span>5 minutes ago</span>
                            </div>
                            <!--message-dt end-->
                            <div class="messg-usr-img mess-guider-img">
                              <%=image_tag("tmp/any.jpg")%>
                            </div>
                            <!--messg-usr-img end-->
                          </div>
                          <!--main-message-box end-->
                          <div class="main-message-box ta-right">
                            <div class="message-dt message-dt-custom">
                              <div class="message-inner-dt">
                                <p>Lorem ipsum dolor sit amet.</p>
                              </div>
                              <!--message-inner-dt end-->
                              <span>Sat, Aug 23, 1:08 PM</span>
                            </div>
                            <!--message-dt end-->
                            <div class="messg-usr-img mess-guider-img">
                              <%=image_tag("tmp/avt.png")%>
                            </div>
                            <!--messg-usr-img end-->
                          </div>
                          <!--main-message-box end-->
                          <div class="main-message-box st3">
                            <div class="message-dt st3">
                              <div class="message-inner-dt">
                                <p>....</p>
                              </div>
                              <!--message-inner-dt end-->
                              <span>Đang nhập...</span>
                            </div>
                            <!--message-dt end-->
                            <div class="messg-usr-img mess-guider-img">
                              <%=image_tag("tmp/any.jpg")%>
                            </div>
                            <!--messg-usr-img end-->
                          </div>
                          <!--main-message-box end-->
                        </div>
                        <!--messages-line end-->
                        <div class="message-send-area">
                          <form>
                            <div class="mf-field">
                              <div class="icon-chat"><a href="#" title=""><i class="fa fa-smile-o"></i></a></div>
                              <div class="icon-chat"><a href="#" title=""><i class="fa fa-camera"></i></a></div>
                              <div class="icon-chat"><a href="#" title=""><i class="fa fa-paperclip"></i></a></div>
                              <input type="text" name="message" placeholder="Nhập tin nhắn...">
                              <i class="fas fa-paper-plane button-send"></i>
                            </div>
                          </form>
                        </div>
                        <!--message-send-area end-->
                      </div>
                      <!--main-conversation-box end-->
                    </div>
                    <!--user-profile-ov end-->
                  </div>
                  <!--product-feed-tab end-->
                </div>
                <!--main-ws-sec end-->
              </div>
              <div class="col-lg-3">
                <div class="right-sidebar">
                  <div class="schedule-title">Thông tin lộ trình</div>
                  <div class="schedule-detail">
                    <div class="top-detail">
                      <p>Lộ trình 1</p>
                      <p>Giá tiền: 200.000đ</p>
                    </div>
                    <div class="middle-detail">
                      <p>Thời gian: 2 ngày</p>
                      <div>
                        <ul>
                          <li class="stage-item">
                            <div class="stage-line">
                              <div class="stage-circle"></div>
                            </div>
                            <div class="stage-detail">
                              <p>Nhà thờ đá Sapa</p>
                              <p>Thời gian: 2 tiếng</p>
                              <%=image_tag("seeds/blog/sapa1.jpg")%>
                            </div>
                          </li>
                          <li class="stage-item">
                            <div class="stage-line">
                              <div class="stage-circle"></div>
                            </div>
                            <div class="stage-detail">
                              <p>Thung lũng Mường Hoa</p>
                              <p>Thời gian: 1 tiếng</p>
                              <%=image_tag("seeds/blog/sapa2.jpg")%>
                            </div>
                          </li>
                          <li class="stage-item">
                            <div class="stage-line">
                              <div class="stage-circle"></div>
                            </div>
                            <div class="stage-detail">
                              <p>Chợ đêm Sapa</p>
                              <p>Thời gian: 2 tiếng</p>
                              <%=image_tag("seeds/blog/sapa3.jpg")%>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="free-time">
                  </div>
                  <div class="button-book" >
                    Book
                  </div>
                </div>
                <!--right-sidebar end-->
              </div>
            </div>
          </div>
          <!-- main-section-data end-->
        </div>
      </div>
    </main>
    <footer>
      <div class="footy-sec mn no-margin">
        <div class="container">
        </div>
      </div>
    </footer>
    <!--footer end-->
</div>
<!--theme-layout end-->
