<div class="post-bar">
  <div class="wordpressdevlp">
    <%= form_for(journey, url: "/guider/#{@current_guider.id}/homepage/journey/#{journey.id}", remote:true) do |f| %>
      <h3> Tour:</h3>
      <%= f.select :id, journeys.map { |journey| [journey.name, journey.id] }, selected: journey.id %>
    <% end %>
    <p><i class="fas fa-calendar-alt"></i> Tổng thời gian: <%= journey.total_time %> giờ</p>
  </div>
  <% journey.journey_segments.order(stt: :asc).each do |journey_segment| %>
    <%= render 'guider/homepage/tour_segment', journey_segment: journey_segment   %>
  <% end %>
  <div class="row no-gutters job-status-bar">
    <div class="col-md-6 col-sm-12">
      <i class="fas fa-star checked"></i>
      <i class="fas fa-star checked"></i>
      <i class="fas fa-star checked"></i>
      <i class="fas fa-star checked"></i>
      <i class="fas fa-star unchecked"></i>
    </div>
    <div class="col-md-6 col-sm-12">
      <ul class="bk-links bklink">
        <li>
          <p>22 lượt đi</p>
        </li>
        <li>
          <div id="review-id">
            <p>Nhận xét</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="border-top mt-2 review-content" id="review-content">
      <div class="review-item">
        <div class="review-schedule">
          <div class=" reviewer-avt">
            <%=image_tag("tmp/any.jpg")%>
          </div>
          <div class="reviewer-name">
            <p class="font-weight-bold">Nam Vũ</p>
            <p>
              Lộ trình hợp lý, giá cả phải chăng
            </p>
            <div>
              <i class="fas fa-star checked"></i>
              <i class="fas fa-star checked"></i>
              <i class="fas fa-star checked"></i>
              <i class="fas fa-star checked"></i>
              <i class="fas fa-star unchecked"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="review-item">
        <div class="review-schedule">
          <div class=" reviewer-avt">
            <%=image_tag("tmp/avt.png")%>
          </div>
          <div class="reviewer-name">
            <p class="font-weight-bold">Ngọc Vân</p>
            <p>
              Chuyến đi tuyệt vời. Lộ trình và bạn hướng dẫn rất nhiệt tình.
            </p>
            <div>
              <i class="fas fa-star checked"></i>
              <i class="fas fa-star checked"></i>
              <i class="fas fa-star checked"></i>
              <i class="fas fa-star checked"></i>
              <i class="fas fa-star checked"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on('change', '#journey_id', function(event) {
    $(this).closest('form').submit();
  });
</script>
