<div class="wrapper">
  <%= render 'user/header' %>
  <section class="profile-account-setting">
    <div class="container">
      <div class="account-tabs-setting">
        <div class="row">
          <div class="col-lg-3">
            <div class="acc-leftbar">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="false"><i class="fas fa-users-cog"></i>Thông tin chung</a>
                <a class="nav-item nav-link" id="nav-password-tab" data-toggle="tab" href="#nav-password" role="tab" aria-controls="nav-password" aria-selected="false"><i class="fa fa-lock"></i>Thay đổi mật khẩu</a>
              </div>
            </div>
            <!--acc-leftbar end-->
          </div>
          <div class="col-lg-9">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                <div class="acc-setting">
                  <h3>Thông tin chung</h3>
                  <form id="form-view-info">
                    <div class="img-setting">
                      <% if current_account.avatar? %>
                        <%=image_tag(@current_account.avatar.url, alt: 'Image')%>
                      <% else %>
                        <%=image_tag("guest/guest_man.jpg")%>
                      <% end %>
                    </div>
                    <h3 class="name-setting">Thu Trang </h3>
                    <div class="cp-field">
                      <h5><i class="fas fa-birthday-cake text-secondary"></i> Ngày sinh: <span class="content-info"><%= @current_user.profile.date_of_birth.strftime("%d/%m/%Y") %></span></h5>
                    </div>
                    <div class="cp-field">
                      <h5><i class="fas fa-phone-alt text-secondary"></i> Số điện thoại: <span class="content-info"><%= @current_user.phone %></span></h5>
                    </div>
                    <div class="cp-field">
                      <h5><i class="fas fa-home text-secondary"></i> Quê quán: <span class="content-info"><%= @current_user.profile.hometown %></span></h5>
                    </div>
                    <div class="cp-field">
                      <h5><i class="fas fa-suitcase text-secondary"></i> Công việc hiện tại: <span class="content-info"><%= @current_user.profile.work %></span></h5>
                    </div>
                  </form>
                  <!-- editing -->
                  <%= form_for @current_user, url: user_setting_path(@current_user.id, @current_user.id), html: {:multipart => true, id: 'form-editing'} do |f| %>
                    <div class="img-setting">
                      <% if current_account.avatar? %>
                        <%=image_tag(@current_account.avatar.url, alt: 'Image')%>
                      <% else %>
                        <%=image_tag("guest/guest_man.jpg")%>
                      <% end %>
                      <div class="add-dp" id="OpenImgUpload">
                        <%= f.file_field :avatar, id: 'file' %>
                        <label for="file"><i class="fas fa-camera"></i></label>
                      </div>
                    </div>
                    <h3 class="name-setting">
                      <input type="text" name="new-password">
                    </h3>
                    <div class="cp-field">
                      <h5><i class="fas fa-birthday-cake text-secondary"></i> Ngày sinh</h5>
                      <div class="cpp-fiel">
                        <input type="text" id="datepicker" value= <%= @current_user.profile.date_of_birth.strftime("%d/%m/%Y") %> >
                      </div>
                    </div>
                    <div class="cp-field">
                      <h5><i class="fas fa-phone-alt text-secondary"></i> Số điện thoại</h5>
                      <div class="cpp-fiel">
                        <input type="text" name="repeat-password" value=<%= @current_user.phone %>>
                      </div>
                    </div>
                    <div class="cp-field">
                      <h5><i class="fas fa-home text-secondary"></i> Quê quán</h5>
                      <div class="cpp-fiel">
                        <input type="text" name="repeat-password" value= <%= @current_user.profile.hometown %> >
                      </div>
                    </div>
                    <div class="cp-field">
                      <h5><i class="fas fa-suitcase text-secondary"></i> Công việc hiện tại</h5>
                      <div class="cpp-fiel">
                        <input type="text" name="repeat-password" value=<%= @current_user.profile.work %>>
                      </div>
                    </div>
                    <div class="save-stngs pd2">
                      <ul>
                        <li><button type="submit" class="btn-save-setting" id="save-edit"><i class="fas fa-save"></i> Lưu</button></li>
                        <li><button type="submit" class="btn-ban-setting" id="ban-edit"><i class="fas fa-ban"></i> Hủy</button></li>
                      </ul>
                    </div>
                  <% end %>
                  <div class="text-center m-3">
										<button type="submit" class="btn btn-primary border" id="edit-info"> Chỉnh sửa  <i class="fas fa-pencil-alt pl-2"></i></button>  
									</div>
                </div>
                <!--acc-setting end-->
              </div>
              <div class="tab-pane fade" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                <div class="acc-setting">
                  <h3>Thay đổi mật khẩu</h3>
                  <form>
                    <div class="cp-field">
                      <h5>Mật khẩu cũ</h5>
                      <div class="cpp-fiel">
                        <input type="text" name="old-password" placeholder="Nhập mật khẩu cũ">
                        <i class="fa fa-lock"></i>
                      </div>
                    </div>
                    <div class="cp-field">
                      <h5>Mật khẩu mới</h5>
                      <div class="cpp-fiel">
                        <input type="text" name="new-password" placeholder="Nhập mật khẩu mới">
                        <i class="fa fa-lock"></i>
                      </div>
                    </div>
                    <div class="cp-field">
                      <h5>Nhập lại mật khẩu</h5>
                      <div class="cpp-fiel">
                        <input type="text" name="repeat-password" placeholder="Nhập lại mật khẩu">
                        <i class="fa fa-lock"></i>
                      </div>
                    </div>
                    <div class="save-stngs pd2">
                      <ul>
                        <li><button type="submit" class="btn-save-setting"><i class="fas fa-save"></i> Lưu</button></li>
                        <li><button type="submit" class="btn-ban-setting"><i class="fas fa-ban"></i> Hủy</button></li>
                      </ul>
                    </div>
                    <!--save-stngs end-->
                  </form>
                </div>
                <!--acc-setting end-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--account-tabs-setting end-->
    </div>
  </section>
  <footer>
    <div class="footy-sec mn no-margin">
      <div class="container">
      </div>
    </div>
  </footer>
</div>
<!--theme-layout end-->
