<div id="login" class="animate w3layouts agileits form">
  <h2 class="w3layouts agileits">Sign In</h2>
  <%# <form action="#" autocomplete="on" method="post">
    <label>E-mail</label>
    <input type="text" Name="Userame" required="">
    <label>Password</label>
    <input type="password" Name="Password" required="">
    <div class="send-button w3layouts agileits">
      <p><a href="#">Forgot Password?</a></p>
      <form>
        <input type="submit" value="SIGN IN">
      </form>
      <div class="clear"></div>
    </div>
    <p class="change_link w3layouts agileits">
      Don't have an account? <a href="#toregister" class="to_register">Sign Up!</a>
    </p>
    <div class="clear"></div>
  </form> %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <label>E-mail</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control", type: "text" %>

    <label>Password</label>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control" %>

    <div>
      <% if devise_mapping.rememberable? %>
        <div class="field remember-me">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    </div>

    <div class="send-button w3layouts agileits">
      <p>
        <% if devise_mapping.recoverable? %>
          <%= link_to "Forgot Password?", new_password_path(resource_name) %>
        <% end %>
      </p>
      <form>
        <%= f.submit "SIGN IN" %>
      </form>
      <div class="clear"></div>
    </div>
  <% end %>
  <div class="social-icons w3layouts agileits">
    <p>OR USE YOUR SOCIAL ACCOUNTS</p>
    <ul>
      <li class="fb w3ls w3layouts agileits"><a href="#"><span class="icons w3layouts agileits"></span><span
            class="text w3layouts agileits">Facebook</span></a></li>
      <li class="twt w3ls w3layouts agileits"><a href="#"><span class="icons w3layouts agileits"></span><span
            class="text w3layouts agileits">Twitter</span></a></li>
      <div class="clear"></div>
    </ul>
  </div>
  <div class="clear"></div>
</div>
