<div class="wrapper">
  <%= render 'user/header' %>
  <section class="messages-page">
    <div class="container">
      <div class="messages-sec">
        <div class="row">
          <div class="col-lg-4 col-md-12 no-pdd">
            <div class="msgs-list">
              <div class="msg-title">
                <h3>Messages</h3>
                <ul>
                  <li><a href="#" title=""><i class="fa fa-cog"></i></a></li>
                  <li><a href="#" title=""><i class="fa fa-ellipsis-v"></i></a></li>
                </ul>
              </div>
              <!--msg-title end-->
              <div class="messages-list">
                <ul>
                  <% @rooms.each do |room| %>
                    <li class="active">
                      <div class="usr-msg-details">
                        <div class="usr-ms-img">
                          <% if room.guider.avatar? %>
                            <%=image_tag(room.guider.avatar.url, alt: 'Image')%>
                          <% else %>
                            <%=image_tag("guest/guest_man.jpg")%>
                          <% end %>
                          <span class="msg-status"></span>
                        </div>
                        <div class="usr-mg-info">
                          <h3><%= room.guider.name %></h3>
                          <p><%= room.messages.last.content %></p>
                        </div>
                        <!--usr-mg-info end-->
                        <span class="posted_time">1:55 PM</span>
                        <span class="msg-notifc">1</span>
                      </div>
                      <!--usr-msg-details end-->
                    </li>
                  <% end %>
                </ul>
              </div>
              <!--messages-list end-->
            </div>
            <!--msgs-list end-->
          </div>
          <div class="col-lg-8 col-md-12 pd-right-none pd-left-none">
            <div class="main-conversation-box">
              <div class="message-bar-head">
                <div class="usr-msg-details">
                  <div class="usr-ms-img">
                    <% if @rooms.first.guider.avatar? %>
                      <%=image_tag(@rooms.first.guider.avatar.url, alt: 'Image')%>
                    <% else %>
                      <%=image_tag("guest/guest_man.jpg")%>
                    <% end %>
                  </div>
                  <div class="usr-mg-info">
                    <h3><%= @rooms.first.guider.name %></h3>
                    <p>Online</p>
                  </div>
                  <!--usr-mg-info end-->
                </div>
                <a href="#" title=""><i class="fa fa-ellipsis-v"></i></a>
              </div>
              <!--message-bar-head end-->
              <div class="messages-line">
                <% @rooms.first.messages.each do |message| %>
                  <% if message.account == @current_user %>
                    <div class="main-message-box st3">
                      <div class="message-dt st3">
                        <div class="message-inner-dt">
                          <p><%= message.content %></p>
                        </div>
                        <!--message-inner-dt end-->
                        <span><%= message.created_at %></span>
                      </div>
                      <!--message-dt end-->
                      <div class="messg-usr-img">
                        <% if @rooms.first.guider.avatar? %>
                          <%=image_tag(@rooms.first.guider.avatar.url, alt: 'Image')%>
                        <% else %>
                          <%=image_tag("guest/guest_man.jpg")%>
                        <% end %>
                      </div>
                      <!--messg-usr-img end-->
                    </div>
                    <!--main-message-box end-->
                  <% else %>
                    <div class="main-message-box ta-right">
                      <div class="message-dt">
                        <div class="message-inner-dt">
                          <p><%= message.content %></p>
                        </div>
                        <!--message-inner-dt end-->
                        <span><%= message.created_at %></span>
                      </div>
                      <!--message-dt end-->
                      <div class="messg-usr-img">
                        <% if @current_user.avatar? %>
                          <%=image_tag(@current_user.avatar.url, alt: 'Image')%>
                        <% else %>
                          <%=image_tag("guest/guest_man.jpg")%>
                        <% end %>
                      </div>
                      <!--messg-usr-img end-->
                    </div>
                  <% end %>
                <% end %>
              </div>
              <!--messages-line end-->
              <div class="message-send-area">
                <form>
                  <div class="mf-field">
                    <input type="text" name="message" placeholder="Type a message here">
                    <button type="submit">Send</button>
                  </div>
                  <ul>
                    <li><a href="#" title=""><i class="fa fa-smile-o"></i></a></li>
                    <li><a href="#" title=""><i class="fa fa-camera"></i></a></li>
                    <li><a href="#" title=""><i class="fa fa-paperclip"></i></a></li>
                  </ul>
                </form>
              </div>
              <!--message-send-area end-->
            </div>
            <!--main-conversation-box end-->
          </div>
        </div>
      </div>
      <!--messages-sec end-->
    </div>
  </section>
  <!--messages-page end-->
</div>
<!--theme-layout end-->
<script>
  $(".chat-hist, .messages-line").mCustomScrollbar();
  div_height = $('#mCSB_1').height();
  total_height = $('#mCSB_1_container').height();
  top_height = div_height - total_height;
  $('#mCSB_1_container').css({ top: top_height });
</script>
